#body_color {
    z-index: -10;
    background-color: rgb(23, 43, 76);
    position: fixed;
    margin-top: 35px;
    height: 100%;
    border-top-left-radius: 30px;
    box-shadow: -2.5px -2.5px 2.5px 1px rgb(0, 0, 0);
    transition: margin-left 0.5s;
    transition: width 0s;
 }
 
 #filter_color {
    position: fixed;
    z-index: -11;
    background-color: var(--white);
    height: 100%;
    width: 100%;
 }

 .margin80 {
    margin-left: 80px;
    
}
  
.margin260 {
    margin-left: 260px;
   
}

.width90 {
    width: 90%;
}
  
.width95 {
    width: 95%;
}