.category_table {
   
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    background-color: var(--white);
    border-radius: 12px;
    margin-left: 110px;
    margin-top: 60px;
    width: 1000px;
    max-height: 500px; 
    overflow-y: auto;
    position:absolute;
    top: 49%;
    left: 50%;
    height: auto;
    z-index: -1;
 }
 
 #category_table,
 #tasks_table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    border-radius: 12px;
    
 }

 
 td {
    padding: 8px;
    border-radius: 12px;
 }
 
 
 th {
    
    color: black;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 2%;
    background-color: rgb(200, 200, 200);
 }

 tr {
    border-bottom: 1px solid #000000;
 }
 
 #th-head-left-corner {
    border-top-left-radius: 12px;
 }
 
 #th-head-right-corner {
    border-top-right-radius: 12px;
 }
 
 .category_table_row {
    border-bottom: 1px solid black;
    
 }

 #title-category {
    background-color: white;
    width: 14%;
    border-radius: 15px;
    color: var(--black);
    text-align: center;
    margin-top: 60px;
    margin-left: 375px;
    font-weight: bold;
    border-block: groove;
 }

 button {
   background-color: transparent;
   border: solid;
   border-width: 2px;
   border-color: var(--black);
   cursor: pointer;
   padding: 8px;
   border-radius: 5px;
   font-size: 16px;
   color: var(--black);
}

button:hover {
   background-color: var(--white_hover);
}

button:active {
   background-color: var(--white_active);
}